# Ficheros temporales
*.swp

# Ficheros de vim/neovim
.netrwhist
config_nvim/plugin/packer_compiled.lua
local_share_nvim/**/*.log
local_share_nvim/site/pack/packer
local_share_nvim/telescope_history
local_share_nvim/mason
local_share_nvim/lazy
local_share_nvim/lazy-rocks
config_nvim/lazy-lock.json
